<mat-toolbar>
  <span>@ssegning-web/mat-carousel</span>

  <span class="demo-spacer"></span>

  <span>
    <button
      class="demo-code"
      mat-button
      matTooltip="Copy to clipboard"
      matTooltipPosition="before"
      aria-label="Button for copying installation command to clipboard"
      (click)="copy()"
    >
      <mat-icon>assignment</mat-icon>
      npm install @ssegning-web/mat-carousel
    </button>
  </span>

  <span class="demo-source">
    <button mat-button [matMenuTriggerFor]="demoMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #demoMenu="matMenu">
      <a
        href="https://gitlab.com/ssegning-titans/angular-material-carousel"
        target="_blank"
        mat-menu-item
      >
        <mat-icon>code</mat-icon>Source code
      </a>
      <button mat-menu-item (click)="toggleTheme()">
        <mat-icon>
          {{ darkMode ? "invert_colors_off" : "invert_colors" }}
        </mat-icon>
        Toggle theme
      </button>
    </mat-menu>
  </span>
</mat-toolbar>

<div class="demo-container mat-app-background">
  <mat-card>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Parent Configuration </mat-panel-title>
          </mat-expansion-panel-header>
          <section class="demo-section">
            <label class="demo-margin">Size:</label>
            <mat-form-field class="demo-margin">
              <mat-select placeholder="Parent Height" [(value)]="parentHeight">
                <mat-option [value]="'auto'">Auto</mat-option>
                <mat-option [value]="'500px'">500px</mat-option>
              </mat-select>
            </mat-form-field>
          </section>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Carousel configuration </mat-panel-title>
          </mat-expansion-panel-header>

          <section class="demo-section">
            <label class="demo-margin">Animations:</label>
            <mat-form-field class="demo-margin">
              <input matInput placeholder="Timings" [(ngModel)]="timings" />
            </mat-form-field>
            <mat-checkbox class="demo-margin" [(ngModel)]="autoplay"
              >Autoplay</mat-checkbox
            >
            <mat-form-field class="demo-margin">
              <input
                matInput
                type="number"
                min="1"
                placeholder="Interval"
                [(ngModel)]="interval"
              />
            </mat-form-field>
          </section>

          <section class="demo-section">
            <label class="demo-margin">Appearance:</label>
            <mat-form-field class="demo-margin">
              <mat-select placeholder="Color" [(value)]="color">
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="demo-margin">
              <input
                matInput
                placeholder="Maximum width"
                [(ngModel)]="maxWidth"
              />
            </mat-form-field>

            <mat-form-field class="demo-margin">
              <input
                matInput
                type="number"
                placeholder="Slides"
                [(ngModel)]="slides"
              />
            </mat-form-field>
          </section>

          <section class="demo-section">
            <label class="demo-margin">Size:</label>
            <mat-form-field class="demo-margin">
              <mat-select
                placeholder="Maintain Aspect Ratio"
                [(value)]="maintainAspectRatio"
              >
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="demo-margin">
              <input
                matInput
                type="number"
                min="1"
                placeholder="Proportion"
                [(ngModel)]="proportion"
              />
            </mat-form-field>

            <mat-form-field class="demo-margin">
              <input
                matInput
                type="text"
                placeholder="Slide Height"
                [(ngModel)]="slideHeight"
              />
            </mat-form-field>
          </section>

          <section class="demo-section">
            <label class="demo-margin">Navigation:</label>
            <mat-checkbox class="demo-margin" [(ngModel)]="loop"
              >Loop</mat-checkbox
            >
            <mat-checkbox class="demo-margin" [(ngModel)]="hideArrows"
              >Hide arrows</mat-checkbox
            >
            <mat-checkbox class="demo-margin" [(ngModel)]="hideIndicators"
              >Hide indicators</mat-checkbox
            >
          </section>

          <section class="demo-section">
            <label class="demo-margin">Accessibility:</label>
            <mat-checkbox class="demo-margin" [(ngModel)]="useKeyboard"
              >Use keyboard</mat-checkbox
            >
            <mat-checkbox class="demo-margin" [(ngModel)]="useMouseWheel"
              >Use mouse wheel</mat-checkbox
            >
            <mat-form-field>
              <mat-select
                placeholder="Orientation"
                [(value)]="orientation"
                (selectionChange)="matCarousel.slideTo(0)"
              >
                <mat-option value="ltr">Left to right</mat-option>
                <mat-option value="rtl">Right to left</mat-option>
              </mat-select>
            </mat-form-field>
          </section>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Slide configuration </mat-panel-title>
          </mat-expansion-panel-header>
          <section class="demo-section">
            <label class="demo-margin">Appearance:</label>
            <mat-form-field class="demo-margin">
              <input
                matInput
                placeholder="Overlay color"
                [(ngModel)]="overlayColor"
              />
            </mat-form-field>

            <mat-checkbox class="demo-margin" [(ngModel)]="hideOverlay"
              >Hide overlay</mat-checkbox
            >
          </section>

          <section class="demo-section">
            <label class="demo-margin">Custom:</label>
            <mat-checkbox class="demo-margin" [(ngModel)]="showContent">
              Show custom content
            </mat-checkbox>
          </section>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="demo-carousel" [style.height]="parentHeight">
        <mat-carousel
          #matCarousel
          [timings]="timings"
          [autoplay]="autoplay"
          [interval]="interval"
          [loop]="loop"
          [hideBackArrows]="hideArrows"
          [hideForwardArrows]="hideArrows"
          [hideIndicators]="hideIndicators"
          [color]="color"
          [lazyLoad]="true"
          [maxWidth]="maxWidth"
          [proportion]="proportion"
          [useKeyboard]="useKeyboard"
          [useMouseWheel]="useMouseWheel"
          [orientation]="orientation"
          [slides]="slides"
          [maintainAspectRatio]="maintainAspectRatio"
          [slideHeight]="slideHeight"
          (change)="onChange($event)"
        >
          <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let slide of slidesList; let i = index"
            image="assets/demo.png?{{i}}"
            [overlayColor]="overlayColor"
            [hideOverlay]="hideOverlay"
          >
            <ng-container *ngIf="showContent">
              <div
                style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center"
              >
                <h1>{{ i }}</h1>
                <p>disabled: {{ matCarouselSlide.disabled }}</p>
                <button
                  mat-flat-button
                  (click)="
                    matCarouselSlide.disabled = !matCarouselSlide.disabled
                  "
                >
                  Click me!
                </button>
              </div>
            </ng-container>
          </mat-carousel-slide>
        </mat-carousel>
      </div>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Events</mat-expansion-panel-header>
        <pre [innerText]="log.join('\n')"></pre>
      </mat-expansion-panel>

      <pre><code class="demo-code">{{ code }}</code></pre>
    </mat-card-content>
  </mat-card>
</div>
